.main {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  margin-left: 0px;
  padding-left: 0px;
  align-items: center;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.ui-select .ui-btn select{
font-size: 50px;
}

#myRef {
  height: auto;
}

.content {
  position: absolute;
  width: 100%;
  justify-content: center;
  margin-left: 0px;
  padding-left: 0px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
}

.contentChildren {
  width: 100%;
  margin-top: 4.5vh;
  padding-bottom: 0px;
  align-content: center;
  height: 100%;
}

#my-background {
  height: 100%;
}

.Logo {
  width: 22vh;
  height: auto;
  margin-bottom: 3vh;
  padding: 0px;
}

.iconLabel {
  margin-bottom: 4px;
  margin-top: 2px;
}

.iconLabelAd {
  padding-bottom: 1px;
  padding-top: 2px;
  color: #ffffff;
}

.adLink {
  color: #ffffff;
  text-decoration: none;
  text-decoration-style: none;
}

/* INPUT AREA */
.inputRow {
  text-align: center;
  width: 80%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: calc(13px + 0.2vw);
}

/* Compare 'X' */
#iconContainer {
  height: 100%;
  width: 100%;
}

.icon {
  text-align: center;
  width: 99vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: calc(0.6vw + 25px);
  width: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  /* transition: all .2s ease-in-out; */

}


/*  Crypto Results Area */
.shinyContainer {
  margin-top: 3.5vh;
  position: relative;
  text-align: center;
  width: 80%;
  height: auto;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  animation-duration: 10s;
  animation-name: gradient;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  animation-duration: infinite;
  border: 1px solid rgba( 255, 255, 255, 0.10 );
  transition: all .2s ease-in-out;
}

/* .shinyContainer:hover {
  transform: scale(1.05);
} */

.resultText {
  position: relative;
  font-size: calc(14px + 0.2vw);
  text-align: center;
  font-weight: 700;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5vh;
  padding-top: 2vh;
}

.xImage {
  width: 15%;
  max-width: 100px;
  height: auto;
  margin-bottom: 0px;
}

.priceText {
  font-size: calc(30px + 0.6vw);
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  color: #ffffff;
}

.xText {
  font-size: calc(12px + 0.6vw);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  color: #C7D2DD;
  margin-top: -5px;
}

.positive {
  color: #32f88b;

}

.negative {
  color: #ce0923;
}

.customiseForm {
  margin-top: 2.5vh;
  padding-bottom: 1vh;
  color: #ffffff;
}


.investmentInput::placeholder {
  color: rgba(255, 255, 255, 0.45);
}
.investmentInput:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.15);
}

.containerIcon {
  width: calc(14px + 0.5vw);
  height: auto;
  opacity: 0.5;
  transition: all .15s ease-in-out;
}

.containerIcon:hover {
  transform: scale(1.1);
}

.LongLogo {
  width: 75%;
  max-width: 160px;
  height: auto;
  opacity: 0.5;
}

.shimmer {
  background: linear-gradient(-45deg, rgba(16, 32, 255, 0.2), rgba(207, 16, 255, 0.2), rgba(70, 135, 255, 0.2), rgba(255, 132, 16, 0.2));  
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.modalButton {
  font-weight: 700;
  font-size: calc(14px + 0.2vw);
  color: #ffffff;
  margin-top: 4vh;
  width: 80%;
  max-width: 300px;
  height: 5vh;
  justify-content: center;
  border: 0px;
  background: rgba( 255, 255, 255, 0.0 );
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}




/*  Additional Data  */
.comparisonRow {
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 5px;
}

.comparisonRowAlt {
  background: rgba( 255, 255, 255, 0.05 );
  border-radius: 2px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 5px;

}


.competitorType {
  font-weight: 700;
  font-size: calc(10px + 0.6vw);
  /* margin-bottom: 0.4vh; */
  margin-top: 0.4vh;
}

.competitorItem {
  font-size: calc(10px + 0.6vw);
  /* margin-bottom: 0.4vh; */
  margin-top: 0.4vh;
}

.xSide {
  margin: 0px;
}



/*  Featured Product of the Week */
.featuredProduct {

}

.featuredProduct:hover {
  
}

#adchildren {
  font-weight: 700;
  font-size: calc(10px + 0.2vw);
  border-radius: 20px;
  transition: all 0.25 ease;
}

#adchildren:hover {
  transform: scale(1.05);
  background: rgba(0, 0, 0, 0.05);
}

.ui.button {
  min-width:300px !important; min-height:50px !important;
}



