.main {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  margin-left: 0px;
  padding-left: 0px;
  align-items: center;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.ui-select .ui-btn select{
font-size: 50px;
}

#myRef {
  height: auto;
}

.content {
  position: absolute;
  width: 100%;
  justify-content: center;
  margin-left: 0px;
  padding-left: 0px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
}

.contentChildren {
  width: 100%;
  margin-top: 2.5vh;
  padding-bottom: 0px;
  align-content: center;
  height: 100%;
}

#my-background {
  height: 100%;
}

.Logo {
  width: 22vh;
  height: auto;
  margin-bottom: 3vh;
  padding: 0px;
}

.iconLabel {
  margin-bottom: 4px;
  margin-top: 1px;
}



/* INPUT AREA */
.inputRow {
  text-align: center;
  width: 85%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: calc(14px + 0.2vw);
}



/* Compare 'X' */
#iconContainer {
  height: 100%;
  width: 100%;
}

.icon {
  text-align: center;
  width: 99vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: calc(0.6vw + 25px);
  width: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  transition: all .1s ease-in-out;
  /* opacity: 0.50; */
  /* transform: rotate(90deg); */
}

.icon:hover {
  transform: scale(1.1);
}



/*  Crypto Results Area */
.shinyContainer {
  margin-top: 3.5vh;
  position: relative;
  text-align: center;
  width: 80%;
  height: auto;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  animation-duration: 10s;
  animation-name: gradient;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  animation-duration: infinite;
  border: 1px solid rgba( 255, 255, 255, 0.10 );
  transition: all .2s ease-in-out;
}

/* .shinyContainer:hover {
  transform: scale(1.05);
} */

.resultText {
  position: relative;
  font-size: calc(12px + 0.2vw);
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5vh;
  padding-top: 2vh;
}

.xImage {
  width: 15%;
  max-width: 100px;
  height: auto;
  margin-bottom: 0px;
}

.priceText {
  font-size: calc(30px + 0.6vw);
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  color: #ffffff;
}

.xText {
  font-size: calc(12px + 0.6vw);
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  color: #C7D2DD;
  margin-top: -5px;
}

.positive {
  color: #32f88b;

}

.negative {
  color: #ce0923;
}

.containerIcon {
  width: calc(14px + 0.5vw);
  height: auto;
  opacity: 0.5;
  transition: all .15s ease-in-out;
}

.containerIcon:hover {
  transform: scale(1.1);
}

.LongLogo {
  width: 75%;
  max-width: 160px;
  height: auto;
  opacity: 0.5;
}

.shimmer {
  background: linear-gradient(-45deg, rgba(16, 32, 255, 0.2), rgba(207, 16, 255, 0.2), rgba(70, 135, 255, 0.2), rgba(255, 132, 16, 0.2));  
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.modalButton {
  font-weight: 700;
  font-size: calc(14px + 0.2vw);
  color: #ffffff;
  margin-top: 4vh;
  width: 80%;
  max-width: 300px;
  height: 5vh;
  justify-content: center;
  border: 0px;
  background: rgba( 255, 255, 255, 0.0 );
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}




/*  Additional Data  */
.comparisonRow {
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 5px;
}

.comparisonRowAlt {
  background: rgba( 255, 255, 255, 0.05 );
  border-radius: 2px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 5px;

}


.competitorType {
  font-weight: 700;
  font-size: calc(10px + 0.6vw);
  /* margin-bottom: 0.4vh; */
  margin-top: 0.4vh;
}

.competitorItem {
  font-size: calc(10px + 0.6vw);
  /* margin-bottom: 0.4vh; */
  margin-top: 0.4vh;
}

.xSide {
  margin: 0px;
}

/*  MODAL  */
.modal {
  width: 100%;
  height: 100%;
}

.popup-content {
  width: 90%;
  height: 90%;
  text-transform: uppercase;
  max-width: 900px;
}

.popup-overlay {
  background: rgba( 0, 0, 0, 0.6 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  animation-name: anvil;
}

#modalClose {
  font-weight: 700;
  font-size: calc(12px + 0.2vw);
  color: #ffffff;
  margin-top: 4vh;
  width: 80%;
  max-width: 300px;
  height: 5vh;
  justify-content: center;
  border-radius: 20px;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 22px 0 rgba( 31, 38, 135, 0.07 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.10 );
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}



/*  Featured Product of the Week */
.featuredProduct {
  font-weight: 700;
  font-size: calc(10px + 0.2vw);
  background: rgba( 0, 0, 0, 0.3 );
}

/* .featuredText {
  font-weight: 700;
  font-size: calc(10px + 0.2vw);
} */




