.box {
    height: 100px;
    width: 80%;
    background: linear-gradient(-45deg, rgba(16, 32, 255, 0.2), rgba(207, 16, 255, 0.2), rgba(70, 135, 255, 0.2), rgba(255, 132, 16, 0.2));  
    margin-left: auto;
    margin-right: auto;
}

.boxAlt {
    height: 100px;
    width: 80%;
    background: linear-gradient(-45deg, rgba(16, 32, 255, 0.2), rgba(207, 16, 255, 0.2), rgba(70, 135, 255, 0.2), rgba(255, 132, 16, 0.2));  
    margin-left: auto;
    margin-right: auto;
}